*{
   margin: 0;
   padding: 0;
   background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.body{
    display: flex;
    background-color: 	rgb(34, 37, 35);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 10px; 
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.5);
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 	rgb(34, 37, 35);
}
  .image-container {
    width: 140px;
    height: 140px;
    border-radius: 600px; 
    margin-bottom: 20px;
    background-image: url("media/picture.jpg"); 
    background-size: cover; 

  }
.name{
    margin-top: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}
.Location{
    color: yellow;
    margin-top: 5px;
    font-size: 19px;
    background-color: 	rgb(34, 37, 35);
}
.occupation{
    color: aliceblue;
    font-size: 15px;
    padding-top: 6px;
    background-color: 	rgb(34, 37, 35);
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    width: 100%;
    background-color:rgb(34, 37, 35);

}
button{
    height: 40px;
    border-radius: 10px;
    color: rgb(61, 60, 60);
    outline: none;
}
button:hover{
    background-color: rgb(255, 255, 0);
    color: black;
}
.buttons button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: transparent;
}
.buttons button a:hover {
    color: rgb(0, 0, 0);
}


/* RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    .body{ 
        margin-top: 0px;
    }
} 

